body {
  background: url("../assets/cookbook.jpg") no-repeat center center fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  font-family: "Playfair Display", serif;
}

.top-bar-middle {
  left: -50px;
}

#stack{
  position: absolute;
  top: 6%;
  right: 0%;
  min-height: 92%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 13%;
}
#stack td, #customers th {
  border: 1px solid rgba(221, 221, 221, 0.589);
  padding: 8px;
}

#stack tr:nth-child(even){background-color: #f2f2f29c;}

#stack tr:hover {background-color: rgba(221, 221, 221, 0.589);}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a774a8;
}


.scroll {
  overflow-y:auto;
  max-height: 400px;
  background-color: #fffdfd;
  color: #3B3C3E;

}

table .scroll {
  height: 900px;
  overflow-y:auto;
  background-color: #fffdfd;
  color: #3B3C3E;
}
  

