body {
  background: url("../assets/cookbook.jpg") no-repeat center center fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  font-family: "Playfair Display", serif;
}

.top-bar-middle {
  left: -50px;
}

#stack{
  float:right;
  top: 7.8%;
  left: 81%;
  min-height: 72%;
  font-family: Arial, Helvetica, sans-serif;
  width: 19%; 
  color: #3B3C3E;
  border-collapse: collapse;
}


th {
  border: 2px solid;
  text-align: center;
  background-color: #14679ea8;
  width: 100%;
  
}

.scroll {
  overflow-y:auto;
  max-height: 600px;
  color: #3B3C3E;

}

#stack tr:nth-child(even){background-color: #f2f2f2a2;}

#stack tr:hover {background-color: #ddd;}

table {
  color: #0040c0;
}

.button {
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 2%;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

td {
  width: 50%;
}



tbody{
  background-color: rgba(255, 255, 255, 0.452);
  width: 20%;
}

.card-name {
  background-color:#14679ea8; 
  color: #fffffff5;
  border: 2px solid;
}

.card-section img {
  height: 300px;

}
div.card {
  background-color: rgba(255, 255, 255, 0.452);
}