body {
  background: url("../assets/search.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Playfair Display", serif;
}
.top-bar-middle {
  left: -50px;
}
