
body { 
    background: url("../assets/search.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Playfair Display', serif;
  }

.grid-container {
    position: relative;
    top: 10px;
    background-color:rgba(129, 127, 127, 0.788);
    color:rgb(255, 255, 255);
    padding: 05px;
  }
.expanded{
  position: relative;
  top:20px;
  background-color:rgba(129, 127, 127, 0.788);
}
.top-bar-middle{
  left: -50px;
}

#recipe-cards{
  position: relative;
  top: 20px;
  left:300px;
  background-color:rgba(129, 127, 127, 0.788);
  width: 39.5%;
  
}

div.card {
  background-color: rgba(255, 255, 255, 0.295);
}

div.card-divider {
  background-color:#14679ea8; 
  color: #ffffff;
  border: 2px solid;
}

