 
  body { 
    background: url("../assets/cook.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Playfair Display', serif;
  }

  .Descript
  {
    position: relative;
    bottom: -70px;
    left: 20% ;
    background-color:rgba(129, 127, 127, 0.788);
    color:rgb(255, 255, 255);
    padding: 04px;
    width: 60%;
    text-align: center;
  }



  .email:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

  footer
  {
    position: relative;
    bottom: -250px;
    left: 20% ;
    background-color:rgba(129, 127, 127, 0.788);
    color:rgb(255, 255, 255);
    width: 60%;
    text-align: center;
  }

  .top-bar-middle{
left: -50px;
  }

